@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans-Regular.eot?') format('eot'), url('../fonts/OpenSans-Regular.woff') format('woff'), url('../fonts/OpenSans-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'OpenSans Bold';
  src: url('../fonts/OpenSans-Bold.eot?') format('eot'), url('../fonts/OpenSans-Bold.woff') format('woff'), url('../fonts/OpenSans-Bold.ttf') format('truetype');
}
* {
	font-family: OpenSans;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-color: #EEEEEE;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
#sign {
	background-color: white;
	border-radius: 10px;
	border: 1px solid #CCCCCC;
	padding: 15px;
	font-family: OpenSans;
	position: relative;
	top: 30px;
}
#sign h1 {
	font-size: 30px;
	text-align: center;
}
.logo{
	font-size: 70px;
	text-align: center;
	font-family: OpenSans;
	line-height: 100px;
	text-shadow: #A0A0A0 0px 2px;
}
